<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Nueva contraseña</title>
    </head>
    <body style="background-color:#D6EAF8;">
	<div align="center">
            <br/><h1>Modifica tu contraseña</h1><br/>
            <form action="#" th:action="@{/saveUsuario}" th:object="${user}" method="post"><font size=5>
                <table border="0" cellpadding="10">
                    <tr>				
                        <td>Tu número de usuario:</td>
                        <td>
                            <input type="text" th:field="*{id}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Nombre:</td>
                        <td>
                            <input type="text" th:field="*{nombre}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Apellido:</td>
                        <td>
                            <input type="text" th:field="*{apellido}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Edad:</td>
                        <td>
                            <input type="text" th:field="*{edad}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Sexo:</td>
                        <td>
                            <input type="text" th:field="*{sexo}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Email:</td>
                        <td>
                            <input type="email" th:field="*{email}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Nueva contraseña:</td>
                        <td>
                            <input type="password" th:field="*{contraseña}" required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                             <center><button type="submit" style='width:140px; height:50px'>Actualizar</button> <br><br>
                                <button type="button" style='width:140px; height:50px'><a href="/">Regresar</a></button>
                           </center>                          
                        </td>
                    </tr>
                </table>
            </form></font>
	</div>
    </body>
</html>